@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Matcha";
  src: url(./public/MatchadalgonaRegular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.5;
}

body {
  background-color: #d90429;
  height: 100vh;
}
body nav {
  width: 100%;
  background-color: #ef233c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #222222;
}
body nav .nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
body nav .nav-content .logo img {
  width: 250px;
}
body nav .nav-content .links {
  display: flex;
  padding-left: 40px;
}
body nav .nav-content .links a {
  margin-right: 15px;
}
body .bg {
  display: block;
  background-image: url("./imagesfalan/Untitled-3.png");
  height: 100vh;
  position: absolute;
  width: 100%;
  unicode-bidi: isolate;
  z-index: -1;
}
body .main {
  display: flex;
  justify-content: center;
}
body .main .bj-frame {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 60px;
}
body .main .bj-frame .exp-frame h1 {
  font-size: 56px;
  line-height: 70px;
}
body .main .bj-frame .logo-frame {
  border: 2px solid rgb(0, 102, 255);
  border-radius: 15px;
  box-shadow: rgba(0, 102, 255, 0.25) 0 0 50px 20px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
}
body .main .bj-frame .logo-frame img {
  width: 400px;
  padding-right: 32px;
  padding-left: 32px;
}
body .bj-line {
  height: 25px;
}
body .bj-line .bj-divider {
  background-image: url("./imagesfalan/line.png");
  height: 25px;
  background-repeat: repeat-x;
  border-bottom: 2px solid rgb(0, 102, 255);
}
body .bj-token {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .bj-token #dollar2 {
  right: 0;
  position: absolute;
  opacity: 0.5;
  width: 600px;
  top: 900px;
}
body .bj-token .dollar {
  position: absolute;
  opacity: 0.5;
  width: 600px;
  left: 0;
  top: 900px;
}
body .bj-token .ekonomics {
  margin-bottom: 40px;
}
body .bj-token .ekonomics .ekonom-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .bj-token .ekonomics .ekonom-p ul {
  text-align: center;
}
body .bj-token .ekonomics .ekonom-p ul li {
  font-family: Matcha;
  font-size: 42px;
  line-height: 75px;
}
body .bj-token .ekonomics .ekonom-p h1 {
  font-size: 56px;
}
body .bj-contact {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}
body .bj-contact h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-family: "Inter";
  margin-bottom: 32px;
}
body .bj-contact h3 {
  font-size: 24px;
  font-family: "Inter";
  margin-bottom: 5px;
}
body .bj-contact span {
  margin-bottom: 32px;
}
body .bj-contact span a {
  font-family: "Inter";
  color: #0097fe;
}
body .bj-contact .social {
  margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {
  html {
    min-width: 430px;
    width: 100%;
    min-height: 2100px;
    box-sizing: border-box;
  }
  body {
    box-sizing: border-box;
  }
  body nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body nav .nav-content .links {
    visibility: hidden;
  }
  body .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .main .bj-frame {
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
    text-align: center;
  }
  body .main .bj-frame .exp-frame {
    text-align: center;
  }
  body .main .bj-frame .exp-frame h3 {
    margin-left: 20px;
  }
  .bj-token .dollar, .bj-token #dollar2 {
    visibility: hidden;
  }
  .bj-token .ekonomics .ekonom-p img {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */